body {
  font-family: 'Helvetica Neue', san-serif;
}
a:link {
  color: #27aae1;
  text-decoration: none;
}
.page {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.headline {
  margin-top: 25px;
  font-size: 21px;
}
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.tile {
  width: 270px;
  padding: 4px;
}
.tile img {
  width: 100%;
}
.focus {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.focus img,
.focus video {
  max-height: 500px;
  width: auto;
}
.focus .backout {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 26px;
}
.focus .backout:hover {
  cursor: pointer;
}
