// out: ../css/index.css

@link-color: #27aae1;
@tablet-width: 810px;
@mobile-width: 540px;
@fudge-factor: 4px;
@tile-width: @mobile-width / 2;

body {
  font-family: 'Helvetica Neue', san-serif;
}

a:link {
  color: @link-color;
  text-decoration: none;
}

// home page layout

.page {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.headline {
  margin-top: 25px;
  font-size: 21px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.tile {
  width: @tile-width;
  padding: @fudge-factor;

  img {
    // image takes width of its parent
    width: 100%;
  }
}

// desktop is default

// tablet
@media all and (max-width: @tablet-width) {
}

// mobile
@media all and (max-width: @mobile-width) {
}

// #focus layout
.focus {

  display: flex;
  flex-flow: column;
  align-items: center;

  img, video {
    max-height: 500px;
    width: auto;
  }

  .backout {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 26px;

    &:hover {
      cursor: pointer;
    }
  }

}
