// compiled using grunt

@link-color: #27aae1;
@tablet-width: 940px;
@mobile-width: 450px;
@fudge-factor: 4px;
@tile-width: 300px;

body {
  font-family: 'Helvetica Neue', san-serif;
}

a:link {
  color: @link-color;
  text-decoration: none;
}

// #page layout

.page {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.headline {
  margin-top: 80px;

  font-family: 'Georgia', serif;
  color: grey;
  font-size: 14px;
  letter-spacing: 0.7em;
  text-transform: uppercase;
}

.para {
  width: 40%;
}

.lead-margin {
  margin-top: 30px;
}

.lead {
  .lead-margin;

  font-weight: bold;
  font-size: 62px;
  line-height: 72px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  margin-top: 60px;
  margin-bottom: 40px;
}

.tile {
  width: @tile-width;
  padding: @fudge-factor;
  margin-bottom: 40px;

  img {
    // image takes width of its parent
    width: 100%;
  }

  .caption {
    margin-top: 10px;
    text-align: center;
  }
}

// #focus layout
.focus {

  display: flex;
  flex-flow: column;
  align-items: center;

  img, video {
    max-height: 500px;
    width: auto;

    .lead-margin;
  }

  .backout {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 26px;

    &:hover {
      cursor: pointer;
    }
  }

}

// desktop is default

// tablet
@media all and (max-width: @tablet-width) {

  .para {
    width: 70%;
  }

}

// mobile
@media all and (max-width: @mobile-width) {

  .gallery {
    flex-flow: column;
  }

  .lead {
    line-height: 64px;
  }

  .para {
    width: 80%;
  }

}
