
@link-color: #27aae1;
@desktop-width: 1080px;
@tablet-width: 540px;
@fudge-factor: 4px;
@tile-width: @desktop-width / 4 - @fudge-factor;

body {
  font-family: 'Helvetica Neue', san-serif;
}

a:link {
  color: @link-color;
  text-decoration: none;
}

.page-width {
  // for handheld devices
  width: @tile-width + @fudge-factor;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    // for tablets
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    // for desktop
    width: @desktop-width;
  }
}

.hero-width {
  width: 100%;
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 80%;
  }
  @media (min-width: @desktop-width) {
    width: 60%;
  }
}

.top-gap {
  margin-top: 50px;
}

.bottom-cushion {
  margin-bottom: 25px;
}

.page {
  margin: auto;

  .page-width;
}

.hero {
  margin: auto;
  text-align: center;

  .hero-width;

  .top-gap;

  .headline {
    font-size: 21px;
  }

  .lead-para {
    font-size: 16px;
    margin-top: 30px;
  }
}

.tiles {
  .top-gap;

  .cell {
    display: inline-block;
    vertical-align: top;
    width: @tile-width;

    &:hover {
      cursor: pointer;
    }

    .img {
      margin: auto;
    }

    .caption {
      margin-top: 16px;
      text-align: center;
    }

    .bottom-cushion;
  }
}

.focus {
  .page-width;

  .backout {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 26px;

    &:hover {
      cursor: pointer;
    }
  }

  .meat {
    width: 360px;
    margin: auto;

    .top-gap;
  }

  .para {
    width: 360px;
    margin: auto;
  }
}

.fake-image {
  background-color: #8a183d;
  height: 250px;
  width: 250px;
}

.fake-video {
  background-color: #8a183d;
  height: 500px;
  width: 360px;
  display: inline-block;
}
